
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
<center>
    <table>
        <tr>
            <td>
                <input type="button" value="Adaugare masina" name="addMasina" />
                <br />
            </td>
            <td>
                <input type="button" value="Vizualizare vanzari" name="seeVanzari" />
            </td>
            <td>
                <input type="button" value="Aprobare inregistrare" name="aprobare" />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Editare masina" name="editMasina" />
                <br />
            </td>
            <td>
                <input type="button" value="Vizualizare rapoarte" name="seeReports" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Stergere masina" name="deleteMasina" />
                <br />
            </td>
            <td>
                <input type="button" value="Vizualizare lista masini" name="seeMasini" />
                <br />
            </td>
        </tr>
    </table>
</center>
<br>
<br>
<center>
    <input type="submit" values="Cauta Masina">
    </li>
</center>